<mat-card-header>
  <div class="card-header-flex">
    <div>
      <mat-card-title>{{ auction.title }}</mat-card-title>
      <mat-card-subtitle>
        Minimalna cena: {{ auction.min_price | currency }}
      </mat-card-subtitle>
    </div>

    <button
      mat-icon-button
      (click)="deleteAuction($event)"
      aria-label="Delete auction"
      *ngIf="userCanModify"
    >
      <mat-icon>delete</mat-icon>
    </button>
  </div>
</mat-card-header>
<mat-card-content>
  <p>{{ auction.description }}</p>
  <p>Početak aukcije: {{ auction.start_time | date : 'short' }}</p>
  <p>Kraj aukcije: {{ auction.end_time | date : 'short' }}</p>

  <mat-divider></mat-divider>

  <mat-card-subtitle>Slike</mat-card-subtitle>
  <ng-container *ngIf="auction.images.length > 0; else emptyImages">
    <c-carousel [dark]="true" [interval]="0">
      <c-carousel-inner>
        <c-carousel-item *ngFor="let image of auction.images">
          <img
            [src]="imageBaseUrl + image.fileName"
            alt="{{ image.fileName }}"
            class="d-block w-100"
            loading="lazy"
          />
        </c-carousel-item>
      </c-carousel-inner>
      <c-carousel-control
        [routerLink]
        caption="Previous"
        direction="prev"
      ></c-carousel-control>
      <c-carousel-control
        [routerLink]
        caption="Next"
        direction="next"
      ></c-carousel-control> </c-carousel
  ></ng-container>
  <ng-template #emptyImages><img src="empty.jpg" /></ng-template>
</mat-card-content>
