<div class="pointer-cursor">
  <mat-card-header>
    <div class="card-header-flex">
      <div>
        <mat-card-title>{{ auction.title }}</mat-card-title>
        <mat-card-subtitle>
          Minimalna cena: {{ auction.min_price | currency }}
        </mat-card-subtitle>
      </div>
      <div *ngIf="userCanModify">
        <button
          mat-icon-button
          (click)="deleteAuction($event)"
          aria-label="Delete auction"
        >
          <mat-icon>delete</mat-icon>
        </button>
        <button mat-icon-button aria-label="Edit">
          <mat-icon>edit</mat-icon>
        </button>
      </div>
    </div>
  </mat-card-header>
  <mat-card-content>
    <p>{{ auction.description }}</p>
    <p>Početak aukcije: {{ auction.start_time | date : 'short' }}</p>
    <p>Kraj aukcije: {{ auction.end_time | date : 'short' }}</p>
  </mat-card-content>
</div>
<mat-card-content>
  <mat-divider></mat-divider>
  <mat-card-subtitle>Slike</mat-card-subtitle>
  <app-image-gallery [images]="auction.images" />
</mat-card-content>
