<h2 mat-dialog-title>Izmena korisničkih podataka</h2>
<mat-dialog-content>
  <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="fill">
      <mat-label>Ime</mat-label>
      <input matInput formControlName="name" required />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Prezime</mat-label>
      <input matInput formControlName="surname" required />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Broj telefona</mat-label>
      <input matInput formControlName="phone_number" required />
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="onCancel()">Otkaži</button>
  <button
    mat-button
    [disabled]="userForm.invalid"
    type="submit"
    (click)="onSubmit()"
  >
    Sačuvaj
  </button>
</mat-dialog-actions>
