<h2 mat-dialog-title>Postavite ponudu</h2>
<mat-dialog-content>
  <form [formGroup]="bidForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="fill">
      <mat-label>Iznos ponude</mat-label>
      <input matInput formControlName="amount" type="number" />
      <mat-error *ngIf="bidForm.get('amount')?.hasError('required')">
        Iznos ponude je obavezno polje.
      </mat-error>
      <mat-error *ngIf="bidForm.get('amount')?.hasError('min')">
        Iznos ponude mora biti bar 1.
      </mat-error>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="onCancel()">Otkaži</button>
  <button
    mat-button
    color="primary"
    (click)="onSubmit()"
    [disabled]="bidForm.invalid"
  >
    Pošalji
  </button>
</mat-dialog-actions>
