<mat-list-item lines="3">
  <span matListItemTitle>{{ bid.amount | currency }}</span>
  <span matListItemLine
    >Vreme ponude: {{ bid.time_created | date : 'short' }}</span
  >
  <span matListItemLine>
    Licitant: {{ bid.bidder.name }} {{ bid.bidder.surname }}
    <span *ngIf="isEditable">
      <button mat-icon-button (click)="onDelete()">
        <mat-icon fontSize="small">delete</mat-icon></button
      ><button mat-icon-button (click)="onUpdate()">
        <mat-icon fontSize="small">upgrade</mat-icon>
      </button>
    </span>
  </span>
</mat-list-item>
