<mat-toolbar color="primary" class="menu-toolbar">
  <img src="logo.png" alt="Logo" class="logo-image" />
  <span class="logo">E-Aukcije</span>
  <span class="spacer"></span>
  <button
    mat-button
    routerLink="/home"
    class="menu-button"
    routerLinkActive="active-link"
    [routerLinkActiveOptions]="{ exact: true }"
  >
    Pocetna
  </button>
  <button
    routerLinkActive="active-link"
    mat-button
    routerLink="/profile"
    class="menu-button"
    [routerLinkActiveOptions]="{ exact: true }"
  >
    Profil
  </button>
  <button
    routerLinkActive="active-link"
    mat-button
    routerLink="/sale-certificates"
    class="menu-button"
    [routerLinkActiveOptions]="{ exact: true }"
  >
    Potvrde o prodaji
  </button>
  <app-logout></app-logout>
</mat-toolbar>
