<mat-card *ngIf="user && auction; else notFound" class="auction-card">
  <app-auction-basic-info
    [userCanModify]="isOwner"
    [auction]="auction"
    [isInList]="inList"
    (openClicked)="openMoreInfo()"
    (deleteClicked)="deleteAuction()"
    (updateClicked)="updateAuction()"
    (deleteImgEvent)="deleteImg($event)"
  ></app-auction-basic-info>
  <mat-card-content *ngIf="!inList">
    <mat-divider></mat-divider>

    <mat-card-subtitle></mat-card-subtitle>
    <p>Ime: {{ auction.owner.name }} {{ auction.owner.surname }}</p>
    <p>Broj telefona: {{ auction.owner.phone_number }}</p>

    <mat-divider></mat-divider>
    <button *ngIf="!isOwner" mat-button (click)="openBidModal()">
      Napravi ponudu
    </button>
    <app-bids></app-bids>
  </mat-card-content>
</mat-card>
<ng-template #notFound> Aukcija nije pronadjena </ng-template>
