form {
  max-width: 600px;
  margin: auto;
}

mat-form-field {
  width: 100%;
}

button {
  display: block;
  width: 100%;
}
.button-container {
  width: 100%;
  display: flex;
  justify-content: center;
}
