<mat-card class="certificate">
  <mat-card-header>
    <mat-card-title>Potvrda o prodaji</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <h3>
      Vreme dodeljivanja: {{ saleCertificate.time_granted | date : 'medium' }}
    </h3>
    <h3>
      Prodato za:
      {{ saleCertificate.winning_bid.amount | currency }}
    </h3>
    <div class="info-row">
      <div class="info-column">
        <h4>Kupac:</h4>
        <app-user [user]="saleCertificate.winning_bid.bidder"></app-user>
      </div>
      <div class="info-column">
        <h4>Prodavac:</h4>
        <app-user [user]="saleCertificate.auction.owner"></app-user>
      </div>
    </div>
    <h4>Informacije o aukciji:</h4>
    <p>Naslov: {{ saleCertificate.auction.title }}</p>
    <p>Opis: {{ saleCertificate.auction.description }}</p>
    <app-image-gallery [images]="saleCertificate.auction.images" />
  </mat-card-content>
</mat-card>
