<!-- sale-certificate-showcase.component.html -->
<mat-card>
  <mat-card-header>
    <mat-card-title>Potvrda o prodaji</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <h3>
      Vreme dodeljivanja: {{ saleCertificate.time_granted | date : 'medium' }}
    </h3>
    <h3>
      Iznos pobedničke ponude:
      {{ saleCertificate.winning_bid.amount | currency }}
    </h3>

    <h4>Informacije o kupcu:</h4>
    <p>
      Ime: {{ saleCertificate.winning_bid.bidder.name }}
      {{ saleCertificate.winning_bid.bidder.surname }}
    </p>
    <p>Email: {{ saleCertificate.winning_bid.bidder.email }}</p>
    <p>Broj telefona: {{ saleCertificate.winning_bid.bidder.phone_number }}</p>

    <h4>Informacije o prodavcu:</h4>
    <p>
      Ime: {{ saleCertificate.auction.owner.name }}
      {{ saleCertificate.auction.owner.surname }}
    </p>
    <p>Email: {{ saleCertificate.auction.owner.email }}</p>
    <p>Broj telefona: {{ saleCertificate.auction.owner.phone_number }}</p>

    <h4>Informacije o aukciji:</h4>
    <p>Naslov: {{ saleCertificate.auction.title }}</p>
    <p>Opis: {{ saleCertificate.auction.description }}</p>
    <app-image-gallery [images]="saleCertificate.auction.images" />
  </mat-card-content>
</mat-card>
