<h2 mat-dialog-title>Promena lozinke</h2>
<mat-dialog-content>
  <form [formGroup]="passwordForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="fill">
      <mat-label>Nova lozinka</mat-label>
      <input matInput type="password" formControlName="password" required />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Potvrda nove lozinke</mat-label>
      <input
        matInput
        type="password"
        formControlName="confirmPassword"
        required
      />
    </mat-form-field>
  </form>
  <mat-error *ngIf="passwordForm.hasError('passwordsMismatch')">
    Lozinke se ne poklapaju
  </mat-error>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="onCancel()">Otkaži</button>
  <button
    mat-button
    (click)="onSubmit()"
    [disabled]="passwordForm.invalid"
    type="submit"
  >
    Sačuvaj
  </button>
</mat-dialog-actions>
